

.sidebar-item{
    padding: 0px 0px 10px 25px;
    display: flex;
    height: 50px;
    
    .icon{
        width: 22px;
        height: 22px;
        padding-right: 28px;
        color: #918e95;
    }
    .text{
        font-family: PhilosopherBold;
        font-size: 1.2rem;
    }

}
@media (max-width: 1300px ) {
    .text{
        display: none;
    }
    .icon{
        margin-left: auto;
        margin-right: auto;
    }
}
